In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    "name": ["sahil", "tripshika", "vinay", "mudit", "vrunda", "prerna", "vedika", "ayush", "harshal", "rahul"],
    "10_percent": [70, 85, 70, 74, 82, np.nan, np.nan, np.nan, np.nan, np.nan],
    "12_percent": [95, 99, 71, 80, 90, np.nan, np.nan, np.nan, np.nan, np.nan],
    "4th_sem_aggregate": [60, 65, 65, 60, 50, np.nan, np.nan, np.nan, np.nan, np.nan],
    "package_lpa": [10, 100, 20, 200, 15, np.nan, np.nan, np.nan, np.nan, np.nan]
}
df = pd.DataFrame(data)

In [3]:
df

        name  10_percent  12_percent  4th_sem_aggregate  package_lpa
0      sahil        70.0        95.0               60.0         10.0
1  tripshika        85.0        99.0               65.0        100.0
2      vinay        70.0        71.0               65.0         20.0
3      mudit        74.0        80.0               60.0        200.0
4     vrunda        82.0        90.0               50.0         15.0
5     prerna         NaN         NaN                NaN          NaN
6     vedika         NaN         NaN                NaN          NaN
7      ayush         NaN         NaN                NaN          NaN
8    harshal         NaN         NaN                NaN          NaN
9      rahul         NaN         NaN                NaN          NaN